<ion-header>
  <ion-toolbar>
    <ion-title
      ><ion-icon (click)="closeModal()" name="arrow-back-outline"></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #forms="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre(s)</ion-label>
      <ion-input
        required
        name="nombre"
        [(ngModel)]="this.miembro.miembro.datosGenerales.nombres"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido(s)</ion-label>
      <ion-input
        required
        name="apellidos"
        [(ngModel)]="this.miembro.miembro.datosGenerales.apellidos"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input
        required
        name="edad"
        type="number"
        [(ngModel)]="this.miembro.miembro.datosGenerales.edad"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input
        required
        name="fecha_de_nacimiento"
        type="date"
        [(ngModel)]="this.miembro.miembro.datosGenerales.fecha_de_nacimiento"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Genero</ion-label>
      <ion-input
        required
        name="genero"
        [(ngModel)]="this.miembro.miembro.datosGenerales.genero"
        (focusout)="genderToUpperCase()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Domicilio</ion-label>
      <ion-input
        required
        name="domicilio"
        [(ngModel)]="this.miembro.miembro.datosGenerales.domicilio"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lugar de Nacimiento</ion-label>
      <ion-input
        required
        name="lugar_de_nacimiento"
        [(ngModel)]="this.miembro.miembro.datosGenerales.lugar_de_nacimiento"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pasatiempos</ion-label>
      <ion-input
        required
        name="pasatiempos"
        [(ngModel)]="this.miembro.miembro.datosGenerales.pasatiempos"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input
        required
        name="telefono"
        type="number"
        [(ngModel)]="this.miembro.miembro.datosGenerales.telefono"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input
        required
        name="correo"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        [(ngModel)]="this.miembro.miembro.datosGenerales.correo"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ocupación</ion-label>
      <ion-input
        required
        name="ocupacion"
        [(ngModel)]="this.miembro.miembro.datosGenerales.ocupacion"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado Civil</ion-label>
      <ion-select name="estado_civil" required [(ngModel)]="this.miembro.miembro.datosGenerales.estado_civil">
        <ion-select-option value="Casado(a)">Casado(a)</ion-select-option>
        <ion-select-option value="Soltero(a)">Soltero(a)</ion-select-option>
        <ion-select-option value="Divorciado(a)">Divorciado(a)</ion-select-option>
        <ion-select-option value="Viudo(a)">Viudo(a)</ion-select-option>
        <ion-select-option value="Separacion en proceso judicial">Separación en proceso Judicial</ion-select-option>
        <ion-select-option value="Concubinato">Concubinato</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Actividad Física o Deportes</ion-label>
      <ion-input
      placeholder="Tipo de Actividad"
        required
        name="actividad_fisica"
        [(ngModel)]="this.miembro.miembro.datosGenerales.actividad_fisica"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Manual de Lateralidad</ion-label>
      <ion-select name="lateralidad_manual" [(ngModel)]="this.miembro.miembro.datosGenerales.lateralidad_manual">
        <ion-select-option value="Zurdo">Zurdo</ion-select-option>
        <ion-select-option value="Diestro">Diestro</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Grado de Estudios</ion-label>
      <ion-select name="grado_de_estudio" required [(ngModel)]="this.miembro.miembro.datosGenerales.grado_de_estudio">
        <ion-select-option value="preescolar">Preescolar</ion-select-option>
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="preparatoria">Preparatoria</ion-select-option>
        <ion-select-option value="licenciatura">Licenciatura</ion-select-option>
        <ion-select-option value="ingenieria">Ingeniería</ion-select-option>
        <ion-select-option value="maestria o doctorado">Maestría o Doctorado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button
      expand="full"
      [disabled]="!forms.valid"
      (click)="register()"
      >Registrar Miembro</ion-button
    >
  </form>
</ion-content>
