<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="closeModal()" name="arrow-back-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por ID" (ionChange)="buscarMiembro($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let mb of this.members | filter: text: '_id'">
    <ion-card-header>
      <ion-card-subtitle style="color: green">INSCRITO</ion-card-subtitle>
      <ion-card-subtitle style="color: grey">{{mb._id}}</ion-card-subtitle>
      <ion-card-title>{{mb.datosGenerales.nombres+"
        "+mb.datosGenerales.apellidos}}</ion-card-title>
      <ion-text>{{"Teléfono: "+mb.datosGenerales.telefono}}</ion-text><br />
      <ion-text>{{"Correo: "+mb.datosGenerales.correo}}</ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
          <ion-item slot="header">
            <ion-label>Mensualidades</ion-label>
          </ion-item>

          <ion-list slot="content">
            <div *ngFor="let pago of mb.datosPago.mensualidades">
              <ion-item *ngIf="pago.status === 'PAGADO'" disabled>
                <ion-label>{{pago.mes }}<ion-text style="color: green">{{" "+pago.status}}</ion-text>
                  <ion-text>{{" Folio: "+pago.folio+" |"}}</ion-text>
                  <ion-text>{{" Fecha de Pago: "+pago.fecha}}</ion-text>
                </ion-label>
                <ion-checkbox checked="true"></ion-checkbox>
              </ion-item>
              <ion-item *ngIf="pago.status === 'PENDIENTE'">
                <ion-label>{{pago.mes }}<ion-text style="color: red">{{" "+pago.status}}</ion-text>
                </ion-label>

                <ion-label style="margin-left: 5%;">$</ion-label>
                <ion-input type="number" [disabled]="this.formFlag" placeholder="Precio" (ionChange)="this.mensualidad = $event" ></ion-input>
                <ion-label>%</ion-label>
                <ion-input type="number" [disabled]="this.formFlag" style="margin-right: 1%;" placeholder="Descuento (si existe)" (ionChange)="this.descuento = $event"></ion-input>
                

                <ion-checkbox value="{{pago.mes}}" (ionChange)="calcularMensualidades($event, mb, pago.folio)"
                  [disabled]="this.formFlag"></ion-checkbox>
              </ion-item>
            </div>

            <ion-button 
            [disabled]="this.buttonFlag == false" expand="full"
              (click)="pagarMensualidades(mb._id)">PAGAR</ion-button>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>