<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="closeModal()" name="arrow-back-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment color="success" (ionChange)="changeFlag($event)" [(ngModel)]="this.formFlag">
      <ion-segment-button value="1">
        <ion-label>Consultas para hoy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Seguimientos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.formFlag == 2">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por ID" (ionChange)="buscarMiembro($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-card button *ngFor="let member of this.miembroService.miembros[0]?.members | filter: text: '_id' ">
    <ion-card-header button>
      <ion-card-subtitle>{{member._id}}</ion-card-subtitle>
      <ion-card-title>{{member.datosGenerales.nombres+"
        "+member.datosGenerales.apellidos}}</ion-card-title>
      <ion-item button (click)="seguimiento(member._id)">
        <ion-text>Seguimiento</ion-text>
        <ion-icon slot="end" size="large" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-content *ngIf="this.formFlag == 1">
  <ion-card button *ngFor="let c of this.consultasService.consultas | date: date: 'day' ">
    <ion-card-header button>
      <ion-card-subtitle>{{c._id}}</ion-card-subtitle>
      <ion-card-title>{{c.general.nombre}}</ion-card-title>
      <ion-label>{{c.general.fecha_consulta.day+"/"+c.general.fecha_consulta.month+"/"+c.general.fecha_consulta.year}}
      </ion-label>
      <ion-label>{{"Sesión: "+c.general.sesion}}</ion-label>
      <ion-item button (click)="seguimiento(c._id)">
        <ion-text>Iniciar Consulta</ion-text>
        <ion-icon slot="end" size="large" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="seguimiento(c._id)">
        <ion-text>Reagendar</ion-text>
        <ion-icon slot="end" size="large" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="seguimiento(c._id)">
        <ion-text>Enviar recordatorio por correo</ion-text>
        <ion-icon slot="end" size="large" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>