<form #form="ngForm">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-button (click)="saveData(this.seguimientoService.miembro._id)" [disabled]="!form.valid" slot="end" fill="clear">Guardar Entrevista</ion-button>
      <app-back-button style="margin-left: 20px;"></app-back-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-item>
      <ion-label position="floating">Entrevistador(a)</ion-label>
      <ion-select [(ngModel)]="this.datosNutriologo.datosNutricionales.atendio"
      required name="realizo_entrevista" cancelText="Cerrar" okText="OK">
        <ion-select-option *ngFor="let p of this.personal?.personal" value="{{p.datosGenerales.nombres+' '+p.datosGenerales.apellidos}}">{{p.datosGenerales.nombres+' '+p.datosGenerales.apellidos}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-card-subtitle>Tratamiento Dietético</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Ha llevado algún tratamiento nutricional antes?</ion-label>
      <ion-select required name="respuesta-1"
        [(ngModel)]="this.datosNutriologo.datosNutricionales.tratamiento_dietetico.respuesta">
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Hace cuánto?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.tratamiento_dietetico.hace_cuanto" required
        name="cuanto_dieta" placeholder="Semanas, Meses, Años o NA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Apetito</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Por lo regular... ¿Cómo considera que es su apetito?</ion-label>
      <ion-select [(ngModel)]="this.datosNutriologo.datosNutricionales.apetito"
      required name="respuesta-2" cancelText="Cerrar" okText="OK">
        <ion-select-option value="1 vez">Bueno</ion-select-option>
        <ion-select-option value="2 veces">No me da hambre</ion-select-option>
        <ion-select-option value="2 veces">Me da mucha hambre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Funcionamiento Intestinal</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Por lo regular... ¿Cuántas veces al día acude a defecar?</ion-label>
      <ion-select [(ngModel)]="this.datosNutriologo.datosNutricionales.funcionamiento_intestinal"
      required name="respuesta-3" cancelText="Cerrar" okText="OK">
        <ion-select-option value="1 vez">1 vez</ion-select-option>
        <ion-select-option value="2 veces">2 veces</ion-select-option>
        <ion-select-option value="3 veces">3 veces</ion-select-option>
        <ion-select-option value="Más de 4 veces">Más de 4 veces</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Síntomas Gastrointestinales</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">En los útlimos días... ¿Ha sentido malestares estomacales?</ion-label>
      <ion-select [(ngModel)]="this.datosNutriologo.datosNutricionales.sintomas_gastrointestinales.respuesta" 
      required name="respuesta-4" cancelText="Cerrar" okText="OK">
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Qué tipo de malestar?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.sintomas_gastrointestinales.tipo"
      required name="malestar" placeholder="Especificar o NA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Hace cúantos días los ha estado presentando?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.sintomas_gastrointestinales.hace_cuanto"
      required name="cuanto_malestar" placeholder="Especificar días o NA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Tabaquismo</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Fuma?</ion-label>
      <ion-select [(ngModel)]="this.datosNutriologo.datosNutricionales.tabaquismo.respuesta"
      required name="respuesta-5" cancelText="Cerrar" okText="OK">
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Desde hace cúanto fuma?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.tabaquismo.hace_cuanto"
      required name="cuanto_fuma" placeholder="Especificar o No Aplica"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Cuánto fuma?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.tabaquismo.cuanto"
      required name="fuma" placeholder="Especificar o NA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Alcoholismo</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Toma?</ion-label>
      <ion-select [(ngModel)]="this.datosNutriologo.datosNutricionales.alcoholismo.respuesta"
      required name="respuesta-6" cancelText="Cerrar" okText="OK">
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Desde hace cúanto consume alcohol?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.alcoholismo.hace_cuanto"
      required name="cuanto_alcohol" placeholder="Especificar o NA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Cuánto alcohol consume?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.alcoholismo.cuanto"
      required name="alcohol" placeholder="Especificar o NA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>H2O</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿Cuánta agua ingiere al día?</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.H2O.cantidad"
      type="number"
      required name="h20" 
      placeholder="Litros"></ion-input>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Alimentos</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>¿Qué Alimentos prefiere no consumir?</ion-label>
    </ion-item>
    <ion-item>
      <ckeditor style="height: 35vh;" name="prefiere_no_consumir" [editor]="Editor"
        [(ngModel)]="this.datosNutriologo.datosNutricionales.prefiere_no_consumir"
        [config]="{toolbar: ['bold', 'italic', '|', 'bulletedList', 'numberedList', '|', 'insertTable']}"></ckeditor>
    </ion-item>
    <ion-item>
      <ion-button (click)="deleteText()">Borrar Texto de Ejemplo</ion-button>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>Inicia Exámen</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.peso"
      required type="number" name="peso" placeholder="Kg"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estatura</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.estatura"
      required type="number" name="estatura" placeholder="cm" (focusout)="calcularImc()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">IMC</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.IMC"
      required type="number" name="imc" placeholder="Kg/m2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Colesterol Total</ion-label>
      <ion-input [(ngModel)]="this.seguimientoService.miembro?.datosMedicos?.colesterol.total"
      readonly type="number" name="ldl" placeholder="mg/dL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Colesterol No-HDL</ion-label>
      <ion-input [(ngModel)]="this.seguimientoService.miembro?.datosMedicos?.colesterol.no_hdl"
      readonly type="number" name="ldl" placeholder="mg/dL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Colesterol LDL</ion-label>
      <ion-input [(ngModel)]="this.seguimientoService.miembro?.datosMedicos?.colesterol.ldl"
      readonly type="number" name="ldl" placeholder="mg/dL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Colesterol HDL</ion-label>
      <ion-input [(ngModel)]="this.seguimientoService.miembro?.datosMedicos?.colesterol.hdl"
      readonly type="number" name="hdl" placeholder="mg/dL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nivel de Agua Corporal</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.nivel_de_agua_corporal"
      required type="number" name="nivel_agua" placeholder="%"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">IMM</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.IMM"
      required type="number" name="imm" placeholder="Kg"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad Biológica</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.edad_biologica"
      required type="number" name="edad_bio" placeholder="Años"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Peso de Masa Ósea</ion-label>
      <ion-input [(ngModel)]="this.datosNutriologo.datosNutricionales.peso_masa_osea"
      required type="number" name="peso_masa" placeholder="Kg"></ion-input>
    </ion-item>
  </ion-content>
</form>