<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nutriologo.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form #form="ngForm">
      <ion-item>
        <ion-card-subtitle>Tratamiento Dietético</ion-card-subtitle>
      </ion-item>
    <ion-item>
      
      <ion-label position="stacked">¿Ha llevado algún tratamiento nutricional antes?</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>
  </form>
</ion-content>
