<ion-header>
  <ion-toolbar>
    <app-back-button style="margin-left: 20px" (click)="closeModal()"></app-back-button>
    <ion-button [disabled]="!form.valid" (click)="saveConsulta()" style="margin-right: 20px" slot="end" fill="outline">
      Guardar Consulta</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm">
    <ion-item>
      <ion-card-subtitle> Crear Consulta </ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="this.consulta.consulta.general.nombre" readonly name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ID del miembro:</ion-label>
      <ion-input [(ngModel)]="this.consulta.consulta.general.user_id" readonly name="user_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de la Cita:</ion-label>
      <ion-input required [(ngModel)]="this.fecha" name="date" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sesión:</ion-label>
      <ion-select required [(ngModel)]="this.consulta.consulta.general.sesion" name="sesion"
        placeholder="Tipo de sesión: ">
        <ion-select-option value="Entrevista">Entrevista</ion-select-option>
        <ion-select-option value="{{this.sesion}}">Periódica</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Hora:</ion-label>
      <ion-input [(ngModel)]="this.hora" name="hora" type="number" placeholder="24"></ion-input>
      <ion-label style="position: relative; right: 30%;">:</ion-label>
      <ion-input [(ngModel)]="this.minutos" name="minutos" style="position: relative; right: 30%;" type="number"
        placeholder="00"></ion-input>
    </ion-item>
  </form>
</ion-content>