<ion-header>
  <ion-toolbar>
      <app-back-button style="margin-left: 15px;" route="/" [replace]="true"></app-back-button>
      <ion-label slot="end" class="title">{{this.seguimientoService.miembro.datosGenerales.nombres +" "+ this.seguimientoService.miembro.datosGenerales.apellidos }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Entrevistas</ion-card-title>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion toggle-icon="arrow-down-circle">
            <ion-item slot="header">
              <ion-label>Ver Resultados de Entrevista:</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item button (click)="openViewEntrevistaMedicaResults()" [disabled]="this.seguimientoService.miembro?.datosEntrevista?.medica == 'no'">
                <ion-text>Médica</ion-text>
              </ion-item>
              <ion-item button (click)="openRouteEntrevistaNutricionalResults()" [disabled]="this.seguimientoService.miembro?.datosEntrevista?.nutricional == 'no'">
                <ion-text>Nutricional</ion-text>
              </ion-item>
              <ion-item button (click)="openViewEntrevistaFisioterapiaResults()" [disabled]="this.seguimientoService.miembro?.datosEntrevista?.fisioterapia == 'no'">
                <ion-text>Fisioterapia</ion-text>
              </ion-item>
              <ion-item button (click)="openViewEntrevistaPsicoResults()" [disabled]="this.seguimientoService.miembro?.datosEntrevista?.psicologica == 'no'">
                <ion-text>Psicológica</ion-text>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recetas</ion-card-title>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion toggle-icon="arrow-down-circle">
            <ion-item slot="header">
              <ion-label>Ver las recetas del miembro:</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item *ngFor="let receta of this.recetaService.recetas[0]" button>
                <ion-label>{{receta.nombre}}</ion-label>
                <ion-text style="color: grey;">{{receta.motivo_receta}}</ion-text>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Consultas</ion-card-title>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion toggle-icon="arrow-down-circle">
            <ion-item slot="header">
              <ion-label>Ver las consultas del miembro:</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item button *ngFor="let consulta of this.consultasService.consultasMember[0]">
                <ion-label>Consulta: {{consulta.general.sesion}}</ion-label>
                <ion-text style="margin-right: 15px;">Fecha: {{consulta.general.fecha_consulta.day+"/"+consulta.general.fecha_consulta.month+"/"+consulta.general.fecha_consulta.year}}</ion-text>
                <ion-button *ngIf="consulta.general.sesion != 'Entrevista'" style="margin-right: 10px;" fill="clear" (click)="showResults(consulta._id)">Ver</ion-button>
                <ion-button fill="clear" (click)="startConsulta(consulta._id, consulta.general.sesion)">Iniciar</ion-button>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-item button (click)="openViewCreateConsultas()">
        <ion-card-title>CREAR CONSULTA</ion-card-title>
        <ion-icon slot="end" name="duplicate-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>